@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  &-logo {
    width: 15%;
    height: $gap-x4;

    @include md-xs {
      width: 20%;
      margin-left: -25%;
    }

    @include xs {
      width: 30%;
    }

    &-link {
      display: block;

      &__wrapper {
        font-size: $gap-x4;
        font-family: $font-main;
        font-weight: 500;
        color: rgba($color-dark, 0.7);

        letter-spacing: 0.1em;
        line-height: 0.1;

        @include lg {
          font-size: $gap-x2;
        }

        &-img {
          width: $gap-x4;
          @include lg {
            width: $gap-x2;
          }
        }
      }
    }
  }
}
